body {
    margin: 0;
    font-family: 'Play', sans-serif;
}

.container {
    padding: 80px 10% 0 10%;
    height: 100%;
}

.xlarge {
    font-size: 56px;
    color: #3c95f9;
    font-family: 'Orbitron', sans-serif;
}

.large {
    font-size: 44px;
    text-align: center;
}

.small {
    font-size: 22px;
    color: rgb(88, 88, 88);
    margin-bottom: 40px;
}

.left {
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: 40%;
}

.link-btn {
    box-shadow: 0 0 8px 1px #acacac;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 10px;
}

.link-btn:hover {
    box-shadow: 0 0 12px 1px #868686;
}

header {
    background-image: url("img/header-bg.png");
    background-size: cover;
    min-height: 700px;
}

header .link-btn {
    background-color: blue;
}

#bio {
    background-image: url("img/bio-bg.png");
    background-size: cover;
    min-height: 600px;
}

#bio .link-btn {
    background-color: #ff1872;
}

#works {
    background-image: url("img/latest-work-bg.png");
    background-size: cover;
    min-height: 600px;
}

#works .all {
    margin-top: 80px;
}

#works .all .work {
    width: 30%;
    float: left;
    margin-left: 3%;
    border-bottom: 10px solid;
    border-image: linear-gradient(to right, red, yellow, green);
    border-image-slice: 1;
    border-radius: 20px 0 0 20px;
}

#works .all .work:hover {
    transform: scale(0.9);
    transition: .5s ease-out;
}