body {
    margin: 0;
    font-family: 'Play', sans-serif;
}

.container {
    padding: 80px 10% 0 10%;
    height: 100%;
}

.xlarge {
    font-size: 56px;
    color: #3c95f9;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.large {
    font-size: 44px;
    text-align: center;
}

.small {
    font-size: 22px;
    color: rgb(88, 88, 88);
    margin-bottom: 40px;
    text-align: justify;
}

.left {
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: 40%;
}

.link-btn {
    box-shadow: 0 0 8px 1px #acacac;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 10px;
    display: block;
    width: 80px;
    margin: auto;
    text-align: center;
}

.link-btn:hover {
    box-shadow: 0 0 12px 1px #868686;
}

header {
    background-image: url("img/header-bg.png");
    background-size: cover;
    min-height: 700px;
}

header .link-btn {
    background-color: blue;
}

#bio {
    background-image: url("img/bio-bg.png");
    background-size: cover;
    min-height: 600px;
}

#bio .link-btn {
    background-color: #ff1872;
}

header img:hover,
#bio img:hover {
    transform: scale(0.9);
    transition: .5s ease-out;
}

#works {
    background-image: url("img/latest-work-bg.png");
    background-size: cover;
    min-height: 600px;
}

#works .all {
    margin-top: 80px;
}

#works .all .work {
    width: 30%;
    float: left;
    margin-left: 3%;
    border-bottom: 10px solid;
    border-image: linear-gradient(to right, red, yellow, green);
    border-image-slice: 1;
    border-radius: 20px 0 0 20px;
}

#works .all .work:hover {
    transform: scale(0.9);
    transition: .5s ease-out;
}

#links {
    width: 80px;
    height: 80px;
    position: fixed;
    right: 5px;
    top: 45%;
    text-align: center;
}

#links a {
    background-color: #ff1872;
    color: white;
    display: block;
    text-decoration: none;
    padding: 8px 1px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
}

#links a:hover {
    transform: translateY(-5px);
    transition: .2s ease-out;
}

footer {
    background-image: url("img/footer-bg.png");
    background-size: cover;
    min-height: 600px;
    text-align: center;
}

footer .contact {
    width: 50%;
    margin: 80px auto;
    background: linear-gradient(to right, #3c94f9, #0af4c6);
    padding: 30px;
    border-radius: 30px;
}